*~
*.la
*.lo
*.log
*-testd
*.trs
.deps/
.libs/
Makefile
Makefile.in
config.h.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.status
/config.sub
/configd
/configure
/depcomp
/firmware/85-n2pkvna.rules
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/rpm/n2pkvna-*
/rpm/n2pkvna.spec
/rpm/noarch
/rpm/root
/rpm/x86_64
/src/libn2pkvna/libn2pkvna-example
/src/n2pkvna-gui/n2pkvna-gui
/src/n2pkvna/n2pkvna
/stamp-h1
/test-driver
