*~
*.la
*.lo
*.log
*-testd
*.trs
.deps/
.libs/
config.h.in
Makefile
Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.guess
/config.h
/config.status
/config.sub
/configd
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h1
/test-driver
rpm/n2pkvna.spec
src/libn2pkvna/libn2pkvna-example
src/n2pkvna/n2pkvna
